* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
  }
  
  .home,
  .about,
  .work,
  .contact
   {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }
  
  .about {
    background-position: center;
    color: black;
    font-size: 100px;
  }
  
  .work {
    background-position: center;
    color: black;
    font-size: 100px;
  }

  .home {
    background-position: center;
    color: black;
    font-size: 100px;
  }
    
  .contact {
    background-position: center;
    color: black;
    font-size: 100px;
  }

  .home-container {
    margin-top :100px;
    margin-bottom :200px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .home-container-title {
    color: black;
    text-align: center;
    font-size: 30px;
  }

  .home-title {
    color: black;
    text-align: center;
    font-size: 100px;
  }

  .contact-container {
    margin-top :100px;
    margin-bottom :200px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .contact-container-title {
    color: black;
    text-align: center;
    font-size: 30px;
  }

  .contact-title {
    color: black;
    text-align: center;
    font-size: 100px;
  }
